#moeda {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;
    background-color: rgb(255, 213, 0);
    border-color: yellow;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
}